<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.design.covid9server.mapper.PatientL1Mapper" >
  <resultMap id="BaseResultMap" type="com.design.covid9server.entity.PatientL1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="idcard_no" property="idcardNo" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="symptom_type" property="symptomType" jdbcType="VARCHAR" />
    <result column="enter_date" property="enterDate" jdbcType="TIMESTAMP" />
    <result column="performance" property="performance" jdbcType="VARCHAR" />
    <result column="hospital" property="hospital" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, gender, age, idcard_no, source, symptom_type, enter_date, performance, hospital,
    remark
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from patient_l1
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from patient_l1
    order by id DESC
    limit ${start},${pageSize}
  </select>

  <select id="selectCountAll" parameterType="com.design.covid9server.entity.PatientL1" resultType="java.lang.Long">
    SELECT
        COUNT(*)
    FROM
      patient_l1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from patient_l1
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.design.covid9server.entity.PatientL1" >
    insert into patient_l1 (name, gender,
      age, idcard_no, source, 
      symptom_type, enter_date, performance,
      hospital, remark)
    values (#{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{idcardNo,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{symptomType,jdbcType=INTEGER}, #{enterDate,jdbcType=TIMESTAMP}, #{performance,jdbcType=VARCHAR},
      #{hospital,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.design.covid9server.entity.PatientL1" >
    update patient_l1
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="idcardNo != null" >
        idcard_no = #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="symptomType != null" >
        symptom_type = #{symptomType,jdbcType=INTEGER},
      </if>
      <if test="enterDate != null" >
        enter_date = #{enterDate,jdbcType=TIMESTAMP},
      </if>
      <if test="performance != null" >
        performance = #{performance,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCountByGender" resultType="com.design.covid9server.dto.PatientL2Dto">
    SELECT
      COUNT(*) AS count,
    CASE gender WHEN 'male' THEN '男' WHEN 'female' THEN '女' END AS gender
    FROM
        patient_l1
    group by
        gender
  </select>

  <select id="selectCountByAge" resultType="com.design.covid9server.dto.PatientL2Dto">
    SELECT
        (SELECT COUNT(*) FROM patient_l1 WHERE age &gt;= 0 and age &lt; 20) AS age0020,
        (SELECT COUNT(*) FROM patient_l1 WHERE age &gt;= 20 and age &lt; 40) AS age2040,
        (SELECT COUNT(*) FROM patient_l1 WHERE age &gt;= 40 and age &lt; 60) AS age4060,
        (SELECT COUNT(*) FROM patient_l1 WHERE age &gt;= 60 and age &lt; 80) AS age6080,
        (SELECT COUNT(*) FROM patient_l1 WHERE age &gt;= 80 and age &lt; 150) AS age80150
  </select>

</mapper>