<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.design.covid9server.mapper.WatchL2Mapper" >
  <resultMap id="BaseResultMap" type="com.design.covid9server.entity.WatchL2" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="test_3_date" property="test3Date" jdbcType="TIMESTAMP" />
    <result column="test_3_result" property="test3Result" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, patient_id, start_date, test_3_date, test_3_result, address
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from watch_l2
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPatientId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from watch_l2
    where patient_id = #{patientId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from watch_l2
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.design.covid9server.entity.WatchL2" >
    insert into watch_l2 (id, patient_id, start_date, 
      test_3_date, test_3_result, address
      )
    values (#{id,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, 
      #{test3Date,jdbcType=TIMESTAMP}, #{test3Result,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.design.covid9server.entity.WatchL2" >
    update watch_l2
    <set >
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="test3Date != null" >
        test_3_date = #{test3Date,jdbcType=TIMESTAMP},
      </if>
      <if test="test3Result != null" >
        test_3_result = #{test3Result,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>