html, body {
    background: #F6F6F6;
    width: 100%;
    height: 100%;
}

.layout-header {
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
}

.layout-sider {
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
}

input {
    border-radius: 2px !important;
}

button {
    border-radius: 2px !important;
}

.loadding {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 80px;
    font-weight: bolder;
}

.logon {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #FFF;
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
}

.logon-left {
    background: #333;
    height: 100%;
}

.logo {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.logo{
    height: 50%;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 4.5em;
    font-weight: bolder;
}

.logo span {
    color: #1E90FF;
}

.logo::before{
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}

.logon-form {
    width: 60%;
    height: 30%;
    margin: 0px auto;
}

.logon-form::before{
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}

.logon-right {
    height: 100%;
    background: #FFF !important;
}

.logon-form input {
    height: 50px;
    border: none;
    background: #EFEFEF;
}

.logon-form button {
    height: 50px;
    font-size: 16px;
}

.logon-header {
    padding-left: 2px;
}

.logon-form .has-error .ant-input, .has-error .ant-input:hover {
    background: #EFEFEF !important;
}

.logon-form .logon-formhas-error .ant-input-affix-wrapper .ant-input, .has-error .ant-input-affix-wrapper .ant-input:hover {
    background: #EFEFEF !important;
}

.logon-form .ant-page-header-heading-title {
    font-size: 30px;
}

.logon-form-item {
    padding-bottom: 12px;
}

.side-logo {
    color: #FFF;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
}

.layout-header {
    background: #FFF;
    padding: 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.layout-sider {
    overflow: auto;
    height: 100%;
    left: 0;
}

.layout-content {
    margin: 24px 16px;
    min-width: 280px;
    padding-top: 56px;
}

.text-align-center {
    text-align: center;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.ant-select-selection {
    border-radius: 2px !important;
}

.table-tools {
    margin-top: 10px;
    margin-bottom: 24px;
}

.table-tools button {
    float: right;
    margin-left: 10px;
}

.ant-input-number {
    width: 100%;
    border-radius: 2px;
}

.ant-calendar-picker {
    width: 100% !important;
    border-radius: 2px;
}

.logoutBtn {
    float: right;
    font-size: 22px;
    margin-top: 22px;
    cursor: pointer;
}

